.input {
    border: 1px solid #000;
}

.button{
    margin-top: 20px;
    border: 1px solid #000;
    text-align: left;
    padding: 0 15px;
    border-radius: 5px;
    background-color: palevioletred;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: white;
    padding: 20px 20px;
    border-radius: 8px;
}